.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.task-creation {
  height: 80px;
  width: 80%;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #F1F3F4;
  border-radius: 4px;

  &--top {
    display: flex;
    height: 50%;

    form {
      width: 100%;
      height: 100%;

      input {
        width: 100%;
        border-width: 0px;

        &:focus {
          border: 0;
          outline: none;
        }

        &:active {
          border: 0;
        }
      }
    }

    & img {
      display: flex;
      justify-self: flex-end;
    }
  }

  &--actions {
    height: 50%;
    display: flex;
    justify-content: space-between;
  }
}

.task-list {
  display: flex;
  width: 80%;

  ul {
    width: 100%;
  }
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
