<section class="container">
  <div class="task-creation">
    <div class="task-creation--top">
      <p>+</p>
      <input class="task-creation--input" placeholder="Type to add new task" />
      <img src="../assets/">
    </div>
    
    <div class="task-creation--actions">
      <div class="actions-left">
        <button mat-stroked-button color="primary">Open</button>
        <button mat-stroked-button color="primary">Today</button>
        <button mat-stroked-button color="primary">Public</button>
        <button mat-stroked-button color="primary">Highlight</button>
        <button mat-stroked-button color="primary">Estimation</button>
      </div>
      <div class="actions-right">
        <button mat-stroked-button color="primary" >Cancel</button>
        <button mat-stroked-button color="primary" >Ok</button>
      </div>
    </div>
  </div>

  <div class="task-list">
    <ul>
      <li>
        <mat-chip># Important</mat-chip> Write to <mat-chip>Email</mat-chip> and
        tell <mat-chip>natasha</mat-chip> about
        <mat-chip>Link</mat-chip>
      </li>
      <li>
        <mat-chip># Important</mat-chip> Write to <mat-chip>Email</mat-chip> and
        tell <mat-chip>natasha</mat-chip> about
        <mat-chip>Link</mat-chip>
      </li>
      <li>
        <mat-chip># Important</mat-chip> Write to <mat-chip>Email</mat-chip> and
        tell <mat-chip>natasha</mat-chip> about
        <mat-chip>Link</mat-chip>
      </li>
    </ul>
  </div>
</section>
